<div class="mx-3 mt-3 navbar navbar-expand-sm rounded-3 header-bg" *ngIf="isAuthenticated">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item navbar-brand">
                <a routerLink="/reviews" class="nav-link text-white">Reviews</a>
            </li>
        </ul>
        <ul class="navbar-nav mx-auto">
            <li class="nav-item navbar-brand">
                <a routerLink="/" class="nav-link active text-white">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto gap-3">
            <li class="nav-item navbar-brand">
                <a class="nav-link active text-white" routerLink="/search"><i class="fas fa-search"></i></a>
            </li>
            <li type="button" class="nav-item navbar-brand" (click)="notificationDialog()">
                <a class="nav-link active text-white">
                    <i [matBadge]="notificationsCount > 0 ? notificationsCount : ''" matBadgeSize="small" class="fa-solid fa-bell text-white"></i>
                </a>
            </li>
            <button mat-button class="nav-item navbar-brand mx-auto" [matMenuTriggerFor]="profileMenu"
                (onMenuClose)="onClose()" (onMenuOpen)="onOpen()">
                <div class="d-flex justify-content-center">
                    <a class="nav-link navbar-brand text-white m-0">
                        {{currentUser.Username}}
                    </a>
                    <i [@rotatedState]="state" class="fa-solid fa-angle-down text-white my-auto"></i>
                </div>
            </button>
            <mat-menu #profileMenu="matMenu">
                <button mat-menu-item [routerLink]="['/profile',currentUser.Id]">Profile</button>
                <button mat-menu-item routerLink="/settings">Edit Profile</button>
                <button mat-menu-item (click)="logout()">Log out</button>
            </mat-menu>
        </ul>
    </div>
</div>