<div class="m-3 navbar navbar-expand-sm rounded-3 header-bg" *ngIf="isAuthenticated">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item navbar-brand">
                <a routerLink="/reviews" class="nav-link text-white">Reviews</a>
            </li>
        </ul>
        <ul class="navbar-nav mx-auto">
            <li class="nav-item navbar-brand">
                <a routerLink="/" class="nav-link active text-white">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto gap-3">
            <li class="nav-item navbar-brand">
                <a class="nav-link active text-white" routerLink="/search"><i class="fas fa-search"></i></a>
            </li>
            <button [matMenuTriggerFor]="notifMenu" mat-button class="nav-item navbar-brand m-auto position-relative"
                (menuOpened)="notifMenuOpened()">
                <i class="fa-solid fa-bell text-white"></i>
                <small *ngIf="notificationsCount>0"
                    class="notif-count position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{notificationsCount}}
                </small>
            </button>
            <mat-menu #notifMenu="matMenu" xPosition="before" class="notif-menu">
                <ng-template matMenuContent>
                    <button mat-menu-item *ngFor="let notif of notifications"
                        [routerLink]="['/profile', notif.FromUser.Id]"
                        class="d-flex align-items-center gap-3 notif-menu-item">
                        <img *ngIf="notif && notif.FromUser.ProfilePicture; else profileVector"
                            class="my-auto rounded-circle profile-picture"
                            src="{{createImgPath(notif.FromUser.ProfilePicture)}}">
                        <ng-template #profileVector><img src="/assets/images/profile_vector.jpg"
                                class="rounded-circle profile-picture"></ng-template>
                        <small><strong>{{notif.FromUser.Username}}</strong> started following you.</small>
                    </button>
                </ng-template>
            </mat-menu>
            <button mat-button class="nav-item navbar-brand mx-auto" [matMenuTriggerFor]="profileMenu"
                (onMenuClose)="onClose()" (onMenuOpen)="onOpen()">
                <div class="d-flex justify-content-center">
                    <a class="nav-link navbar-brand text-white m-0">
                        {{currentUser.Username}}
                    </a>
                    <i [@rotatedState]="state" class="fa-solid fa-angle-down text-white my-auto"></i>
                </div>
            </button>
            <mat-menu #profileMenu="matMenu">
                <button mat-menu-item [routerLink]="['/profile',currentUser.Id]">Profile</button>
                <button mat-menu-item routerLink="/settings">Edit Profile</button>
                <button mat-menu-item (click)="logout()">Log out</button>
            </mat-menu>
        </ul>
    </div>
</div>