<div *ngIf="userFavoriteAlbums && userFavoriteAlbums.length > 0">
    <p class="text-center text-white">Favorite Albums
        <a *ngIf="userInfo && userInfo.Id === currentUser.Id" 
        class="btn main-btn btn-sm text-white" routerLink="/settings/favorite-albums" role="button">Edit</a></p>
    <div class="wrapper rounded-3">
        <div *ngFor="let favoriteAlbum of userFavoriteAlbums" class="album-box p-3 user-select-none">
            <a [routerLink]="['/album', favoriteAlbum.id]">
                <img src="{{favoriteAlbum.images[0].url}}" class="favorite-album rounded-3 mx-auto">
                <hr class="text-white">
                <h6 class="m-0 p-0 text-white text-truncate"><strong>{{favoriteAlbum.name}}</strong></h6>
                <small class="m-0 p-0 text-white">
                    <a [routerLink]="['/artist', favoriteAlbum.artists[0].id]" class="text-decoration-none text-white artist-name">
                        {{favoriteAlbum.artists[0].name}}
                    </a>
                </small>
            </a>
        </div>
    </div>
</div>