.album-picture {
    width: 128px;
}

.buttons-div {
    display: flex;
    gap: 1rem;
}

.buttons-div>* {
    width: 100% !important;
}

.artist-name:hover {
    text-decoration: underline !important;
}

.star-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .review-wrapper {
        display: grid;
        grid-template-columns: repeat(1, minmax(150px, 1fr));
        align-items: center;
        gap: 1rem;
    }

    .review {
        display: flex;
        flex-direction: column;
        break-inside: avoid;
        position: relative;
    }

    .inner-review {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-text {
        display: flex;
        flex-direction: column;
    }

    .album-img {
        width: 100%;
        max-width: 275px;
        height: auto;
    }

    .review-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .ed-buttons {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    .stars {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .artist-album-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .edited-text {
        font-size: 0.75rem;
        white-space: break-spaces;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .info-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .artist-text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .review-wrapper {
        display: grid;
        align-items: self-start;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 1rem;
    }

    .review {
        display: flex;
        flex-direction: column;
        break-inside: avoid;
        position: relative;
    }

    .review-user-img {
        width: 100%;
        max-width: 32px;
        height: auto;
    }

    .artist-album-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .album-img {
        width: 100%;
        max-width: 275px;
        height: auto;
    }

    .inner-review {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .profile-img {
        width: 100%;
        max-width: 32px;
        height: auto;
    }

    .user-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .inner-info {
        display: flex;
        align-items: center;
        gap: 0.15rem;
        text-decoration: none;
    }

    .review-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .review-text {
        overflow-wrap: break-word;
    }

    .edited-text {
        font-size: 0.75rem;
        white-space: break-spaces;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .full-heart {
        font-weight: 900;
        color: rgba(220, 53, 69, 1);
    }

    .heart-btn {
        cursor: pointer;
        font-size: 1.25em;
        line-height: .05em;
        vertical-align: -0.075em;
    }
}

.heart-btn {
    cursor: pointer;
    font-size: 1.25em;
    line-height: .05em;
    vertical-align: -0.075em;
}

.full-heart {
    font-weight: 900;
    color: rgba(220, 53, 69, 1);
}

.review-text {
    overflow-wrap: anywhere;
}

.heart-text {
    display: flex;
    align-items: center;
    gap: 0.25vw;
}

.horiz-btn {
    display: flex;
    justify-content: flex-end;
}