<div class="horiz-btn" *ngIf="horizontalButtons()">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editDialog(review.Id)">
            <mat-icon class="text-white">edit</mat-icon>
            <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteDialog(review.Id)">
            <mat-icon class="text-white">delete</mat-icon>
            <span>Delete</span>
        </button>
    </mat-menu>
</div>
<div class="inner-review">
    <img src="{{review.AlbumImage}}" class="album-img rounded-3">
</div>
<div class="artist-album-text">
    <a [routerLink]="['/album', review.AlbumId]" class="anchor-color m-0 p-0 text-start text-decoration-none">
        <strong>{{review.AlbumName}}</strong>
    </a>
    <a [routerLink]="['/artist', review.ArtistId]" class="anchor-color m-0 p-0 text-start text-decoration-none">
        <small>{{review.ArtistName}}</small>
    </a>
</div>
<div class="user-info">
    <a class="inner-info" [routerLink]="['/profile', review.Author.Id]">
        <img *ngIf="review && review.Author" [src]="getImage(review.Author.ProfilePicture)"
            class="rounded-circle profile-img">
        <p class="m-0 p-0">{{review.Author.Username}}</p>
    </a>
    <div class="inner-info gap-3">
        <div class="heart-text">
            <i (click)="likeReview($event, review)"
                class="{{checkLiked(review.Likes, currentUser.Id) ? liked : ''}} fa-regular fa-heart heart-btn"></i>
            <small>{{likeText(review.Likes.length)}}</small>
        </div>
        <div class="comment-text">
            <i (click)="replyDialog(review.Id)" class="fa-regular fa-comment comment-btn"></i>
            <small *ngIf="review.Replies">{{replyText(review.Replies.length)}}</small>
        </div>
    </div>
</div>
<div class="star-info">
    <star-rating-control [size]="'medium'" [starType]="'svg'" [readOnly]="true" [rating]="review.AlbumRate">
    </star-rating-control>
    <small class="edited-text muted-color m-0 p-0">
        {{editedText(review)}}
    </small>
</div>
<p class="review-text">{{review.AlbumThoughts}}</p>