<div class="d-flex justify-content-between" style="overflow: auto;">
    <h4>Followers</h4>
    <h4 style="cursor: pointer;text-decoration: none;" (click)="onNoClick()"><i class="fa-solid fa-xmark"></i></h4>
</div>
<div *ngIf="followers && followers.length > 0">
    <hr>
    <ul class="border border-color rounded-3 list-group list-group-flush my-3">
        <li class="list-group-item" *ngFor="let user of followers">
            <a [routerLink]="['/profile', user.Id]" class="w-100" [mat-dialog-close] style="text-decoration: none;">
                <div class="d-flex flex-row username">
                    <img *ngIf="user && user.ProfilePicture; else profileVector" [src]="createImgPath(user.ProfilePicture)
                    " alt="" class="rounded-circle me-2 profile-picture">
                    <ng-template #profileVector><img src="/assets/images/profile_vector.jpg"
                        class="rounded-circle me-2 profile-picture"></ng-template>
                    <div class="my-auto text-break">
                        <h5 class="card-title">{{user.Username}}</h5>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>