<div *ngIf="!error && artist; else not_found" class="mx-auto d-flex flex-column w-75 d-grid gap-3">
    <div class="light-blue artist-box border border-dark rounded-3 p-3">
        <img src="{{artist.images[0].url}}" class="artist-img rounded-circle">
        <div class="inner-artist">
            <div class="artist-spotify">
                <h3 class="text-white m-0">{{artist.name}}</h3>
                <a href="{{artist.external_urls.spotify}}" class="btn spotify-btn btn-sm text-decoration-none"
                    target="_blank" style="color: #1DB954">
                    Spotify
                    <i class="fab fa-spotify"></i>
                </a>
            </div>
            <small class="text-muted muted-color">{{artist.genres | genres | titlecase}}</small>
        </div>
    </div>
    <div>
        <div *ngIf="artist" class="artist-page-nav">
            <a [ngClass]="!currentUrl.includes('singles') ? 'main-btn' : 'empty-btn'"
                [routerLink]="['/artist', artistId]" class="m-0">
                Albums</a>
            <a [ngClass]="currentUrl.includes('singles') ? 'main-btn' : 'empty-btn'"
                [routerLink]="['/artist', artistId, 'singles']" class="m-0">
                Singles</a>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
<ng-template #not_found>
    <h3 class="d-flex justify-content-center text-white" *ngIf="error">Could not found the artist.</h3>
</ng-template>