.feed-page {
    margin-inline: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .feed-wrapper {
        display: grid;
        grid-template-columns: repeat(1, minmax(150px, 1fr));
        align-items: center;
        gap: 1rem;
    }

    .feed {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .feed-user-img {
        width: 100%;
        max-width: 32px;
        height: auto;
    }

    .artist-album-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .album-img {
        width: 100%;
        max-width: 275px;
        height: auto;
    }

    .inner-feed {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .profile-img {
        width: 100%;
        max-width: 32px;
        height: auto;
    }

    .user-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .inner-info {
        display: flex;
        align-items: center;
        gap: 0.15rem;
        text-decoration: none;
    }

    .star-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .review-text {
        overflow-wrap: break-word;
    }

    .edited-text {
        font-size: 0.75rem;
        white-space: break-spaces;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .full-heart {
        font-weight: 900;
        color: rgba(220, 53, 69, 1);
    }

    .heart-btn {
        cursor: pointer;
        font-size: 1.25em;
        line-height: .05em;
        vertical-align: -0.075em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .feed-wrapper {
        display: grid;
        grid-template-columns: repeat(1, minmax(150px, 1fr));
        align-items: center;
        gap: 1rem;
    }

    .feed {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .feed-user-img {
        width: 100%;
        max-width: 32px;
        height: auto;
    }

    .artist-album-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .album-img {
        width: 100%;
        max-width: 275px;
        height: auto;
    }

    .inner-feed {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .profile-img {
        width: 100%;
        max-width: 32px;
        height: auto;
    }

    .user-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .inner-info {
        display: flex;
        align-items: center;
        gap: 0.15rem;
        text-decoration: none;
    }

    .star-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .review-text {
        overflow-wrap: break-word;
    }

    .edited-text {
        font-size: 0.75rem;
        white-space: break-spaces;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .full-heart {
        font-weight: 900;
        color: rgba(220, 53, 69, 1);
    }

    .heart-btn {
        cursor: pointer;
        font-size: 1.25em;
        line-height: .05em;
        vertical-align: -0.075em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .feed-wrapper {
        display: grid;
        align-items: self-start;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 1rem;
    }

    .feed {
        display: flex;
        flex-direction: column;
        break-inside: avoid;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .artist-album-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .feed-user-img {
        width: 100%;
        max-width: 32px;
        height: auto;
    }

    .feed-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .album-img {
        width: 100%;
        max-width: 275px;
        height: auto;
    }

    .inner-feed {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .profile-img {
        width: 100%;
        max-width: 32px;
        height: auto;
    }

    .user-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .inner-info {
        display: flex;
        align-items: center;
        gap: 0.15rem;
        text-decoration: none;
    }

    .star-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .review-text {
        overflow-wrap: break-word;
    }

    .edited-text {
        font-size: 0.75rem;
        white-space: break-spaces;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .full-heart {
        font-weight: 900;
        color: rgba(220, 53, 69, 1);
    }

    .heart-btn {
        cursor: pointer;
        font-size: 1.25em;
        line-height: .05em;
        vertical-align: -0.075em;
    }
}

.heart-text {
    display: flex;
    align-items: center;
    gap: 0.25vw;
}