<div class="feed-page" *ngIf="reviews">
    <div class="feed-wrapper">
        <div class="feed light-blue rounded-3 p-3" *ngFor="let review of reviews.slice().reverse()">
            <div>
                <div class="inner-feed">
                    <img src="{{review.AlbumImage}}" class="album-img rounded-3">
                </div>
                <div class="artist-album-text">
                    <a [routerLink]="['/album', review.AlbumId]"
                        class="anchor-color m-0 p-0 text-start text-decoration-none">
                        <strong>{{review.AlbumName}}</strong>
                    </a>
                    <a [routerLink]="['/artist', review.ArtistId]"
                        class="anchor-color m-0 p-0 text-start text-decoration-none">
                        <small>{{review.ArtistName}}</small>
                    </a>
                </div>
            </div>
            <div class="user-info">
                <a class="inner-info" [routerLink]="['/profile', review.Author.Id]">
                    <img *ngIf="review && review.Author" [src]="getImage(review.Author.ProfilePicture)" class="rounded-circle profile-img">
                    <p class="m-0 p-0">{{review.Author.Username}}</p>
                </a>
                <div class="heart-text">
                    <i (click)="likeReview($event, review)"
                        class="{{checkLiked(review.Likes, currentUser.Id) ? liked : ''}} fa-regular fa-heart heart-btn"></i>
                    <small>{{likeText(review.Likes.length)}}</small>
                </div>
            </div>
            <div class="star-info">
                <star-rating-control [size]="'medium'" [starType]="'svg'" [readOnly]="true" [rating]="review.AlbumRate">
                </star-rating-control>
                <small class="edited-text muted-color m-0 p-0">
                    {{editedText(review)}}
                </small>
            </div>
            <p class="review-text">{{review.AlbumThoughts}}</p>
        </div>
    </div>
</div>