<div class="d-grid gap-3">
    <div class="w-100 light-blue border rounded-3 border-dark p-3">
        <div class="user-info px-3">
            <div class="inner-user gap-3">
                <img *ngIf="userInfo" [src]="getImage(userInfo.ProfilePicture)" class="rounded-circle profile-picture">
                <div class="user-bio">
                    <div class="username-text">
                        <h2 class="text-white m-0" *ngIf="userInfo?.Username">{{userInfo.Username}}</h2>
                        <small *ngIf="userInfo?.Bio" class="text-white m-0 p-0">{{userInfo.Bio}}</small>
                    </div>
                    <div class="following-buttons">
                        <p class="text-white m-0"
                            style="cursor: pointer;text-decoration: none;"
                            (click)="followings>0 ? followersDialog('followers') : ''">
                            <strong>{{followers}}</strong><small> followers</small>
                        </p>
                        <p class="text-white m-0"
                            style="cursor: pointer;text-decoration: none;" 
                            (click)="followings>0 ? followersDialog('followings') : ''">
                            <strong>{{followings}}</strong><small> following</small>
                        </p>
                    </div>
                    <a *ngIf="userInfo && userInfo.Id === currentUser.Id" class="main-btn" routerLink="/settings">Edit
                        Profile</a>
                    <button *ngIf="userInfo && userInfo.Id !== currentUser.Id"
                        (click)="followButton(userInfo)" [class]="followedButtonClass(followed)">{{followedText(followed)}}</button>
                </div>
            </div>
            <app-profile-favorite-albums [currentUser]="currentUser" [userInfo]="userInfo"
                [userId]="userId"></app-profile-favorite-albums>
        </div>
    </div>
    <div *ngIf="userInfo" class="d-flex flex-row gap-3 align-items-center">
        <a [ngClass]="!currentUrl.includes('likes') ? 'main-btn' : 'empty-btn'" [routerLink]="['/profile', userInfo.Id]"
            class="m-0">Reviews</a>
        <a [ngClass]="currentUrl.includes('likes') ? 'main-btn' : 'empty-btn'"
            [routerLink]="['/profile', userInfo.Id, 'likes']" class="m-0">Likes</a>
    </div>
</div>