<div class="d-flex justify-content-center" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<div class="w-50 mx-auto light-blue border rounded-3 border-dark p-5" *ngIf="!loading">
    <h1 class="pt-3 text-center text-white"><u>Login</u></h1>
    <small *ngIf="errorText" class="text-danger m-0 p-0">{{errorText}}</small>
    <form [formGroup]="reactiveForm" (submit)="login()" class="login-form">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" [spellcheck]="false">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <div class="login-buttons">
            <p class="text-white m-0">Don't have account?
                <a class="main-btn" routerLink="/register" role="button">Register</a>
            </p>
            <button class="middle-green-btn">Login</button>
        </div>
    </form>
</div>