<h3>Edit Review</h3>
<div class="row">
    <div class="col">
        <div class="d-flex flex-column gap-3">
            <img *ngIf="albumReview && albumReview.AlbumImage" src="{{albumReview.AlbumImage}}"
                class="album-image rounded-3 mx-auto m-0 p-0">
        </div>
    </div>
    <div class="col d-flex flex-column justify-content-center">
        <div>
            <h4 *ngIf="albumReview && albumReview.AlbumName" class="m-0 p-0">{{albumReview.AlbumName}}</h4>
            <p *ngIf="albumReview && albumReview.ArtistName" class="m-0 p-0">{{albumReview.ArtistName}}</p>
            <hr>
        </div>
        <form *ngIf="reactiveForm" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" class="edit-review">
            <label for="albumRate">Album rate:</label>
            <star-rating-control [hoverEnabled]="true" [size]="'medium'" [starType]="'svg'"
                (hoverRatingChange)="onHoverRatingChange($event)" formControlName="albumRate" class="d-flex"
                [minlength]="1" [maxlength]="5" id="albumRate">
            </star-rating-control>
            <mat-form-field appearance="outline" class="text-field">
                <mat-label>Edit</mat-label>
                <input matInput placeholder="Edit your thoughts" formControlName="albumThoughts" [spellcheck]="false">
            </mat-form-field>
            <div class="d-flex justify-content-between">
                <p (click)="onNoClick()"  class="btn btn-sm cancel-btn m-0">Cancel</p>
                <button (click)="onSubmit()" class="btn main-btn text-white btn-sm">Edit!</button>
            </div>
        </form>
    </div>
</div>