.artist-name:hover {
    text-decoration: underline !important;
}

.content {
    max-height: 350px;
    overflow: auto;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .album-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .album-img {
        width: 100%;
        max-width: 320px;
        height: auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .album-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .album-img {
        width: 100%;
        max-width: 320px;
        height: auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .album-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .album-img {
        width: 100%;
        max-width: 320px;
        height: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .album-box {
        display: flex;
        flex-direction: row;
    }

    .album-img {
        width: 100%;
        max-width: 640px;
        height: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .album-box {
        display: flex;
        flex-direction: row;
    }

    .album-img {
        width: 100%;
        max-width: 640px;
        height: auto;
    }
}