::ng-deep .profile-settings .mat-form-field{
    font-family: 'Poppins', sans-serif !important;
    color: white !important;
}

::ng-deep .profile-settings .mat-form-field-appearance-outline .mat-form-field-outline {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem !important;
    color: white!important;
}

::ng-deep .profile-settings .mat-form-field-infix {
    width: unset;
}

::ng-deep .profile-settings .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: white!important;
}

::ng-deep .profile-settings .mat-form-field.mat-focused .mat-form-field-label {
    color: white!important;
}

::ng-deep .profile-settings .mat-form-field-appearance-outline .mat-form-field-outline-start{
    border-width: 1px !important;
}
::ng-deep .profile-settings .mat-form-field-appearance-outline .mat-form-field-outline-end{
    border-width: 1px !important;
}
::ng-deep .profile-settings .mat-form-field-appearance-outline .mat-form-field-outline-gap{
    border-width: 1px !important;
}
::ng-deep .profile-settings .form-shadow:focus {
    border: 1px solid white !important;
    outline: none !important;
    box-shadow: none !important;
}

::ng-deep .profile-settings .mat-select-value{
    color: white !important;
}

::ng-deep .profile-settings .mat-form-field-label{
    color: white;
}

::ng-deep .profile-settings .mat-input-element {
    caret-color: white;
}

::ng-deep .profile-settings input::placeholder {
    color: rgb(109, 109, 109);
}

::ng-deep .mat-select-arrow{
    color: inherit;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow{
    color: inherit;
}

.settings-buttons {
    display: flex;
    justify-content: space-between;
}

.birth-date > * {
    flex: 1 0 0%;
}

.inner-settings {
    display: flex;
    flex-direction: column;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .birth-date {
        display: flex;
        flex-direction: column;
        gap: unset;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .birth-date {
        display: flex;
        flex-direction: column;
        gap: unset;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .birth-date {
        display: flex;
        flex-direction: column;
        gap: unset;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .birth-date {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .birth-date {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}