<div *ngIf="currentlyPlaying && currentlyPlaying.is_playing" class="current-song">
    <div *ngIf="currentlyPlaying && currentlyPlaying.is_playing"
        class="inner-current-song light-blue p-1 border border-dark rounded-3"
        [ngClass]="loaded == true ? 'loaded' :''">
        <img src="{{currentlyPlaying && currentlyPlaying.item.album.images[0].url}}" class="my-auto rounded-3 album-img">
        <div class="mx-auto my-auto">
            <h3 class="text-white song-text">{{currentlyPlaying && currentlyPlaying.item.name}}</h3>
            <div class="artist-names">
                <h5 *ngFor="let artist of currentlyPlaying.item.artists">
                    <a [routerLink]="['/artist', artist.id]" class="text-decoration-none artist-name">
                        <strong>{{artist.name}}</strong>
                    </a>
                    <span class="text-muted muted-color"> &bullet;</span>
                </h5>
            </div>
            <a [routerLink]="['/album',currentlyPlaying.item.album.id]" class="anchor-color text-decoration-none">
                {{currentlyPlaying && currentlyPlaying.item.album.name}}
            </a>
        </div>
    </div>
</div>