.album-img {
    height: 100%;
    max-height: 240px;
    width: auto;
}

.artist-name:hover {
    text-decoration: underline !important;
}

.loaded {
    animation: 1s ease-out 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    from {
        clip-path: inset(0 0 0 100%);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}