<div class="placeholder-wrapper">
    <div *ngFor="let item of createRange(3)" class="placeholder-box border border-dark px-3 py-1 light-blue rounded-3"
        aria-hidden="true">
        <div class="inner-placeholder">
            <div class="placeholder placeholder-img"></div>
        </div>
        <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
        </p>
    </div>
</div>