.album-box:hover{
    background-color: #3d9ddd;
    transition: background-color .2s ease;
}

.text-truncate{
    width: 200px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.artist-name:hover{
    text-decoration: underline;
}

@media (max-width: 600px) {
    .liked-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .album-img {
        width: 100%;
        max-width: 100px;
        height: auto;
    }

    .album-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: #64B7FC;
        transition: background-color .2s ease;
        text-decoration: none;
        align-items: center;
        gap: 0.5em;
    }

    .text-truncate {
        white-space: break-spaces;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (min-width: 600px) {
    .liked-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .album-img {
        width: 100%;
        max-width: 100px;
        height: auto;
    }

    .album-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: #64B7FC;
        transition: background-color .2s ease;
        text-decoration: none;
        align-items: center;
        gap: 0.5em;
    }

    .text-truncate {
        white-space: break-spaces;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (min-width: 768px) {
    .liked-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }

    .album-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #64B7FC;
        transition: background-color .2s ease;
        text-decoration: none;
        gap: 0.5em;
    }

    .album-img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }
}

@media only screen and (min-width: 992px) {
    .liked-wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 1fr));
    }

    .album-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #64B7FC;
        transition: background-color .2s ease;
        text-decoration: none;
        align-items: center;
        gap: 0.5em;
    }

    .album-img {
        width: 100%;
        max-width: 250px;
        height: auto;
    }

    .text-truncate {
        white-space: nowrap;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (min-width: 1200px) {
    .liked-wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    }

    .album-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #64B7FC;
        transition: background-color .2s ease;
        text-decoration: none;
        align-items: center;
        gap: 0.5em;
    }

    .album-img {
        width: 100%;
        max-width: 250px;
        height: auto;
    }

    .text-truncate {
        white-space: nowrap;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}