<div class="p-3">
    <div class="d-flex justify-content-between" style="overflow: auto;">
        <h4>Notifications</h4>
        <h4 style="cursor: pointer;text-decoration: none;" (click)="onNoClick()"><i class="fa-solid fa-xmark"></i></h4>
    </div>
    <div class="delete-all" *ngIf="notifications && notifications.length>0">
        <p>Delete all notifications</p>
        <mat-icon class="delete-icon" (click)="deleteAllNotifications()">delete</mat-icon>
    </div>
    <div class="notifications" *ngFor="let notif of notifications">
        <button mat-menu-item (click)="navigateProfile(notif.FromUser.Id)"
            class="d-flex align-items-center gap-3 notif-menu-item">
            <img *ngIf="notif && notif.FromUser" [src]="getImage(notif.FromUser.ProfilePicture)"
                class="my-auto rounded-circle notification-img">
            <small><strong>{{notif.FromUser.Username}}</strong> {{notif | notif}}</small>
        </button>
        <mat-icon class="delete-icon" (click)="deleteNotification(notif)">delete</mat-icon>
    </div>
</div>