::ng-deep .notification-panel .mat-dialog-container{
    background-color: #64B7FC;
    color: white;
}

.notification-img {
    width: 100%;
    max-width: 32px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    ::ng-deep .notification-panel {
        height: 100vh;
        width: 100vw;
        max-width: 100% !important;
        max-height: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    ::ng-deep .notification-panel {
        height: 100vh;
        width: 100vw;
        max-width: 100% !important;
        max-height: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    ::ng-deep .notification-panel {
        height: 100vh;
        width: 100vw;
        max-width: 100% !important;
        max-height: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ::ng-deep .notification-panel {
        width: 400px;
        max-width: 80vw;
        max-height: 400px;
        position: static;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    ::ng-deep .notification-panel {
        width: 400px;
        max-width: 80vw;
        max-height: 500px;
        position: static;
    }
}

.delete-all {
    display: flex;
    justify-content: space-between;
}

.delete-icon {
    cursor: pointer;
}

.notifications {
    display: flex;
    align-items: center;
}