<div class="d-flex flex-column min-vh-100">
    <app-header></app-header>
    <div *ngIf="currentRoute.url == '/login' || currentRoute.url == '/register';then not_auth else auth"></div>
    <ng-template #not_auth>
        <div class="centered min-vh-100">
            <div class="flex-1">
                <router-outlet></router-outlet>
            </div>
        </div>
    </ng-template>
    <ng-template #auth>
        <router-outlet></router-outlet>
    </ng-template>
    <app-footer class="mt-auto"></app-footer>
</div>