<div class="d-flex flex-column gap-3">
    <div class="light-blue border rounded-3 border-dark frame">
        <form>
            <div (click)="file.click()" [style.display]="showCropper ? 'none' : 'flex'" class="profile-picture-box">
                <img *ngIf="currentUser" [src]="getImage(currentUser.ProfilePicture)" class="profile-img p-3 rounded-circle">
                <h3 class="inner-picture"><i class="fa-solid fa-camera text-white"></i></h3>
            </div>
            <input type="file" #file class="ms-auto btn btn-dark" (change)="fileChangeEvent($event)" class="d-none"/>
            <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [containWithinAspectRatio]="false"
            [aspectRatio]="1/1"
            [resizeToWidth]="256"
            [cropperMinWidth]="128"
            [onlyScaleDown]="true"
            [roundCropper]="true"
            [canvasRotation]="0"
            [style.display]="showCropper ? null : 'none'"
            [transform]="transform"
            [alignImage]="'center'"
            format="jpeg"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady($event)"
            (loadImageFailed)="loadImageFailed()">
            </image-cropper>
        </form>       
    </div>
    <div *ngIf="!showCropper && currentUser.ProfilePicture" class="d-flex justify-content-end">
        <span (click)="deleteDialog()" class="middle-green-btn">Delete</span>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-between">
        <button [style.display]="showCropper ? null : 'none'" (click)="cancelUploadFile();" class="cancel-btn">Cancel</button>
        <button [style.display]="showCropper ? null : 'none'" (click)="uploadFile(croppedImage);" class="main-btn">Save</button>
    </div>
</div>

