<div class="navbar-page">
    <div class="inner-navbar light-blue rounded-3 border-dark p-3 gap-3">
        <a [ngClass]="navbarClass('/settings')" routerLink="/settings">Settings</a>
        <a [ngClass]="navbarClass('/settings/picture')" routerLink="/settings/picture">Picture</a>
        <a [ngClass]="navbarClass('/settings/favorite-albums')" routerLink="/settings/favorite-albums">Favorite Albums</a>
        <a [ngClass]="navbarClass('/settings/password')" routerLink="/settings/password">Password</a>
    </div>
    <router-outlet></router-outlet>
</div>