<div class="navbar navbar-expand-sm footer px-3">
    <div class="inner-footer">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/">Reviewly</a>
            </li>
        </ul>
        <ul class="navbar-nav inner-list">
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/reviews">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="https://developer.spotify.com/">Spotify API</a>
            </li>
        </ul>
        <ul class="navbar-nav social-media-list">
            <li class="nav-item">
                <a class="nav-link text-white" href="https://twitter.com/yagyazici">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="https://open.spotify.com/user/11143135632?si=140d826da53b4c67">
                    <i class="fab fa-spotify"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="https://www.instagram.com/yagizyaziici/">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="navbar navbar-expand-sm footer copyright">
    <a class="nav-link disabled" href="#">© {{year}} Reviewly</a>
</div>