.footer {
    background-color: #071020;
}

.inner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;

}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .inner-footer {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        align-items: unset;
    }
    .inner-list{
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}