.footer {
    background-color: #071020;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .inner-footer {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        align-items: unset;
    }

    .inner-list {
        flex-direction: row;
        justify-content: space-between;
    }

    .social-media-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .inner-footer {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        align-items: unset;
    }

    .inner-list {
        flex-direction: row;
        justify-content: space-between;
    }

    .social-media-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .inner-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 auto;
    }

    .inner-list {
        flex-direction: row;
        justify-content: space-between;
    }

    .social-media-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}