<div class="navbar navbar-expand-sm footer navbar-dark mt-1">
    <div class="container">
        <ul class="navbar-nav ml-auto">
            <ul class="list-unstyled">
                <li class="nav-item" style="margin: 0;">
                    <a class="nav-link disabled text-white" href="#">My Music!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">© {{year}} yagizyazici</a>
                </li>
            </ul>
        </ul>
        <ul class="navbar-nav mx-auto">
            <ul class="my-auto list-unstyled list-group list-group-horizontal">
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/reviews">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">Spotify API</a>
                </li>
            </ul>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="https://twitter.com/yagyazici">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="https://open.spotify.com/user/11143135632?si=140d826da53b4c67">
                    <i class="fab fa-spotify"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="https://www.instagram.com/yagizyaziici/">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</div>