::ng-deep .password-settings .mat-form-field {
    font-family: 'Poppins', sans-serif !important;
    display: inherit !important;
}

::ng-deep .password-settings .mat-form-field-appearance-outline .mat-form-field-outline {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem !important;
    color: white !important;
}

:ng-deep .password-settings .mat-form-field-infix {
    width: unset;
}

::ng-deep .password-settings .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: white !important;
}

::ng-deep .password-settings .mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
}

::ng-deep .password-settings .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-width: 1px !important;
}

::ng-deep .password-settings .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-width: 1px !important;
}

::ng-deep .password-settings .mat-form-field-appearance-outline .mat-form-field-outline-gap {
    border-width: 1px !important;
}

::ng-deep .password-settings input::placeholder {
    color: white !important;
}

::ng-deep .password-settings input {
    color: white !important;
}

::ng-deep .password-settings .mat-input-element {
    caret-color: white;
}

::ng-deep .password-settings .mat-form-field-empty.mat-form-field-label {
    color: white;
}

::ng-deep .password-settings .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
    color: white !important;
}

::ng-deep .password-settings .mat-icon {
    color: white;
}

::ng-deep .last-form .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.info-text {
    color: #0d59c9;
}

.password-page {
    /* d-flex flex-column gap-3 */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.password-buttons {
    display: flex;
    justify-content: space-between;
}