<app-settings-navbar></app-settings-navbar>
<div class="mx-auto w-50 h-75 d-flex flex-column gap-3">
    <div class="uzgun-supurge-color border rounded-3 border-dark container p-3 d-grid gap-3">
        <div>
            <h3 class="text-white m-0 p-0">Change your password</h3>
            <small class="info-text m-0 p-0">Changing your password will log you out.</small>
        </div>
        <small *ngIf="errorText" class="text-danger m-0 p-0">{{errorText}}</small>
        <form *ngIf="reactiveForm" [formGroup]="reactiveForm" (keydown.enter)="updatePassword()"
            (submit)="updatePassword()" class="profile-settings">
            <mat-form-field appearance="outline">
                <mat-label>Current Password</mat-label>
                <input matInput [type]="currentHide ? 'password' : 'text'" formControlName="currentPassword"
                    [spellcheck]="false">
                <mat-icon matSuffix (click)="currentHide = !currentHide">{{currentHide ? 'visibility_off' :
                    'visibility'}}</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput [type]="newHide1 ? 'password' : 'text'" formControlName="newPassword1"
                    [spellcheck]="false">
                <mat-icon matSuffix (click)="newHide1 = !newHide1">{{newHide1 ? 'visibility_off' :
                    'visibility'}}</mat-icon>
            </mat-form-field>
            <div>
                <mat-form-field appearance="outline" class="m-0 p-0 last-form">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="newHide2 ? 'password' : 'text'" formControlName="newPassword2"
                        [spellcheck]="false">
                    <mat-icon matSuffix (click)="newHide2 = !newHide2">{{newHide2 ? 'visibility_off' :
                        'visibility'}}</mat-icon>
                </mat-form-field>
                <small *ngIf="matchError" class="text-danger m-0 p-0">{{matchError}}</small>
            </div>
        </form>
        <div class="d-flex justify-content-between px-3">
            <button (click)="cancel()" class="btn btn-sm cancel-btn">Cancel</button>
            <button (click)="updatePassword()" class="btn main-btn btn-sm text-white">Save</button>
        </div>
    </div>
</div>