/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '~css-star-rating/css/star-rating.css';

body {
    background-color: #122953;
    font-family: 'Poppins', sans-serif;
}

.light-blue {
    background-color: #64B7FC !important;
}

.anchor-color {
    color: #0043c1;
}

.middle-green-btn {
    background-color: rgb(92, 184, 0) !important;
    color: white !important;
}

.middle-green {
    color: #157737 !important;
}

.spotify-btn {
    background-color: white !important;
    color: #3ae47b !important;
}

.spotify-btn:hover {
    background-color: white !important;
    box-shadow: none !important;
}

.muted-color {
    color: #404448 !important;
}

.rating {
    margin-bottom: unset;
}

.rating.color-negative .star-container .star svg {
    border: solid 1px white;
    fill: #3ae47b !important;
}

.rating.color-negative .star-container .star i {
    color: #3ae47b !important;
}

.rating.color-ok .star-container .star svg {
    fill: #3ae47b !important;
}

.rating.color-ok .star-container .star i {
    color: #3ae47b !important;
}

.rating.color-positive .star-container .star svg {
    fill: #3ae47b !important;
}

.rating.color-positive .star-container .star i {
    color: #3ae47b !important;
}

.rating.color-default .star-container .star svg {
    fill: #3ae47b !important;
}

.rating.color-default .star-container .star i {
    color: #3ae47b !important;
}

.star-container {
    margin-left: 0;
}

.cancel-btn {
    color: white;
    border: none;
    transition: transform 0.2s ease;
    display: inline-block;
}

.cancel-btn:hover {
    color: white;
    transform: scale(1.1);
}

.main-btn {
    background-color: #0d59c9;
    color: rgba(255, 255, 255, 1);
    padding: 0.25rem 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.main-btn:hover {
    color: white;
    border-color: white;
}

.middle-green-btn {
    background-color: rgb(92, 184, 0) !important;
    color: rgba(255, 255, 255, 1);
    padding: 0.25rem 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.middle-green-btn:hover {
    color: white;
    border-color: white;
}

.cancel-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 0.875rem;
    transition: transform 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.cancel-btn:hover {
    color: white;
    transform: scale(1.1);
}

.empty-btn {
    background-color: transparent;
    color: white;
    padding: 0.25rem 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.empty-btn:hover {
    color: white;
    border-color: white;
}

.mat-dialog-container {
    background-color: #64B7FC;
}

.inner-review-dialog .mat-dialog-container {
    background-color: #64B7FC !important;
    padding: 0 !important;
}

.follow-panel .mat-dialog-container {
    color: white;
}

.delete-dialog .mat-dialog-container {
    background-color: #135081;
    color: white;
}

.edit-panel .mat-dialog-container {
    background-color: #64B7FC;
    color: white;
}

.notification-panel .mat-dialog-container {
    background-color: #64B7FC;
    color: white;
}

.search-dialog .mat-dialog-container {
    background-color: #64B7FC;
    color: white;
}